.messages {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100%;
	padding: 0 8px;
	padding-bottom: 6px;

	background-color: red;
	background: linear-gradient(0deg, rgba(#1d1f21, 0.8), rgba(#1d1f21, 0));
	// background: linear-gradient(0deg, red, blue);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 0;

	&.focused {
		background-size: 100% 100%;
	}

	.message {
		align-items: center;
		color: #fff;
		padding: 4px 0;
		text-shadow: 1px 1px rgba(#1d1f21, 1), 2px 2px rgba(#1d1f21, 1);

		.avatar {
			display: inline-block;
			vertical-align: bottom;
			width: 24px;
			height: 24px;
			border-radius: 16px;
			// background-image: url(../../../assets/default-user-icon.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 8px;
		}

		.username {
			display: inline-block;
			font-weight: 700;
			color: #e91e63;

			.badge {
				background-color: #e91e63;
				color: #fff;
				border-radius: 4px;
				text-shadow: none;
				padding: 2px 4px;
				font-size: 0.8em;
			}
		}

		a {
			color: #00b0f4; // discord link color
			text-decoration: inherit;
		}

		.metadata {
			$height: 115px;
			width: 100%;
			height: $height;
			background: rgba(#1d1f21, 0.8);
			border-radius: 4px;
			display: flex;
			flex-direction: row;
			margin: 0;
			padding: 6px 12px;
			overflow: hidden;
			margin-top: 4px;

			.title {
				margin: 0;
				color: #00b0f4;
			}
			.description {
				margin: 0;
			}
			.image {
				width: $height * 4/3;
				min-width: $height * 4/3;
				height: calc(100% - 4px);
				margin: 2px 0;
				margin-left: 12px;
				margin-right: -4px;
				background-color: #1d1f21;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		.image {
			display: block;
			height: 180px;
			border-radius: 4px;
			margin-top: 4px;
		}
	}
}
