.header {
	::ng-deep .mat-tab-label {
		min-width: 0;
		// padding: 0 24px;
	}

	position: relative;

	.extra {
		position: absolute;
		top: 0;
		right: 0;
		height: 50px;
		display: flex;
		align-items: center;
		margin-right: 8px;
		z-index: 100;

		button.icon-button {
			min-width: 32px;
			padding: 0;
			margin-left: 8px;
		}

		mat-form-field {
			width: 300px;
			height: 50px;
		}

		// https://stackoverflow.com/questions/54760371/how-to-change-height-in-mat-form-field
		::ng-deep .mat-form-field-flex > .mat-form-field-infix {
			padding: 0.4em 0px !important;
		}

		::ng-deep .mat-form-field-label-wrapper {
			top: -1.2em;
			margin-left: 4px;
		}

		::ng-deep .mat-form-field-infix {
			top: -0.2em;
			margin-left: 4px;
		}

		::ng-deep
			.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
			.mat-form-field-label {
			transform: translateY(-1.1em) scale(0.75);
			width: 133.33333%;
		}
	}

	.loading {
		position: absolute;
		transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
		z-index: 100;
	}
}
