@use "@material/theme" with
	($primary: #e91e63, $secondary: #e91e63, $background: #fff);

@use "@angular-mdc/theme/material";

@use "@material/button/mdc-button";
@use "@material/card/mdc-card";
@use "@material/drawer/mdc-drawer";
@use "@material/icon-button/mdc-icon-button";
@use "@material/list/mdc-list";
@use "@material/menu/mdc-menu";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/top-app-bar/mdc-top-app-bar";

// to be replaced by above
@use "~@angular/material" as mat;
@include mat.core();

$primary: mat.define-palette(mat.$pink-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme($primary, $accent, $warn);
@include mat.all-component-themes($theme);

@import "./fonts.scss";
@import "bootstrap/dist/css/bootstrap-grid.css";

body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	user-select: none;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.animated {
	transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-track {
	background-color: rgba(29, 31, 33, 0.2);
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(29, 31, 33, 0.6);
}

.bg-warn {
	background-color: mat.get-color-from-palette(
		mat.$red-palette,
		500
	) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

b {
	font-weight: 500;
}

a {
	text-decoration: inherit;
	color: mat.get-color-from-palette(mat.$pink-palette, 500);
}

hr {
	width: 100%;
	border-color: rgba(0, 0, 0, 0.1);
}

// .mat-button-wrapper {
// 	text-transform: uppercase;
// }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.mdc-button,
.mdc-tab__text-label {
	text-transform: none;
	letter-spacing: 0;
	// font-size: 1em;
}

.transition {
	transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fast-transition {
	transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.emoji {
	display: inline-block;
	height: 1.2em;
	vertical-align: text-bottom;
}

mat-form-field.slim {
	.mat-form-field-wrapper {
		margin: 0;
	}
	.mat-form-field-infix {
		border: none;
		padding-top: 1em;
		padding-bottom: 0.6em;
	}
	.mat-form-field-flex {
		padding: 0 0.5em;
	}
}
