<div class="header">
	<a
		routerLink="/things/avatars"
		routerLinkActive="active"
		class="animated"
		style="background-color: #00bcd4"
	>
		<mat-icon>accessibility_new</mat-icon> avatars
	</a>
	<a
		routerLink="/things/scripts"
		routerLinkActive="active"
		class="animated"
		style="background-color: #ff9800"
	>
		<mat-icon>get_app</mat-icon> scripts
	</a>
	<a
		routerLink="/things/entities"
		routerLinkActive="active"
		class="animated"
		style="background-color: #ff5722"
	>
		<mat-icon>create</mat-icon> entities
	</a>
	<!-- <a
		routerLink="/things/entities"
		routerLinkActive="active"
		class="animated"
		style="
			background-color: #1d1f21;
			flex-grow: 0;
			max-width: 128px;
			min-width: 128px;
			font-size: 1em;
		"
	>
		<mat-icon>settings</mat-icon> running scripts
	</a> -->
</div>
