<div class="accordion">
	<div
		class="title"
		(click)="toggleOpen()"
		[style.cursor]="alwaysOpen ? 'initial' : 'pointer'"
	>
		<mat-icon *ngIf="!alwaysOpen" class="icon" [class.open]="open">
			expand_more
		</mat-icon>
		<ng-container *ngIf="!subCategory.image">
			{{ subCategory.name }}
		</ng-container>
		<img
			*ngIf="subCategory.image"
			[src]="subCategory.usableImage"
			[alt]="subCategory.name"
			style="height: 38px; margin-bottom: -4px"
		/>
	</div>
	<div
		class="things"
		[class.close]="!open"
		style.height="160px"
		[style.maxHeight]="168 * ceil(subCategory.things.length / 6) + 'px'"
	>
		<div
			mdcMenuSurfaceAnchor
			#subThingsAnchor
			*ngFor="let thing of subCategory.things"
		>
			<div
				class="thing"
				[class.close]="!open"
				[class.enabled]="thing.enabled"
				(click)="toggleEnableThing(thing, subThingsMenu)"
			>
				<div class="image-container" [class.enabled]="thing.enabled">
					<div
						class="image"
						[class.enabled]="thing.enabled"
						[style.backgroundImage]="
							'url(' + thing.usableImage + ')'
						"
					></div>
					<div class="enabled-icon">
						<mat-icon>check</mat-icon>
					</div>
				</div>
				{{ thing.name }}
			</div>
			<mdc-menu
				#subThingsMenu
				[anchorElement]="subThingsAnchor"
				class="sub-things-menu"
			>
				<mdc-list>
					<mdc-list-item
						*ngFor="let thing of thing.subThings"
						(click)="toggleEnableThing(thing, null)"
					>
						<div
							class="image"
							[style.backgroundImage]="
								'url(' + thing.usableImage + ')'
							"
						></div>
						{{ thing.name }}
					</mdc-list-item>
				</mdc-list>
			</mdc-menu>
		</div>
	</div>
</div>
