/*******************************************************************
****************************** Font styles *************************
********************************************************************/

/* https://google-webfonts-helper.herokuapp.com */

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Roboto"), local("Roboto-Regular"),
        url("../fonts/roboto-v20-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-v20-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("../fonts/roboto-v20-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-v20-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v20-latin-700.eot"); /* IE9 Compat Modes */
    src: local("Roboto Bold"), local("Roboto-Bold"),
        url("../fonts/roboto-v20-latin-700.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/roboto-v20-latin-700.woff")
            format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-v20-latin-700.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/roboto-v20-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-mono-v7-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Roboto Mono"), local("RobotoMono-Regular"),
        url("../fonts/roboto-mono-v7-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-mono-v7-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("../fonts/roboto-mono-v7-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-mono-v7-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/roboto-mono-v7-latin-regular.svg#RobotoMono")
            format("svg"); /* Legacy iOS */
}
/* roboto-mono-700 - latin */
@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-mono-v7-latin-700.eot"); /* IE9 Compat Modes */
    src: local("Roboto Mono Bold"), local("RobotoMono-Bold"),
        url("../fonts/roboto-mono-v7-latin-700.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto-mono-v7-latin-700.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("../fonts/roboto-mono-v7-latin-700.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto-mono-v7-latin-700.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/roboto-mono-v7-latin-700.svg#RobotoMono")
            format("svg"); /* Legacy iOS */
}

$sansSerifFont: "Roboto", sans-serif;
$monospaceFont: "Roboto Mono", monospace;

/*******************************************************************
  **************************** General styles ************************
  ********************************************************************/

* {
    box-sizing: border-box;
}

html {
    overflow: auto;
    background-color: #fff;
}

@mixin scrollbar(
    $trackColor: rgba(#000, 0.1),
    $thumbColor: rgba(#000, 0.2),
    $width: 10px
) {
    &::-webkit-scrollbar {
        width: $width;
        height: 0;
    }

    &::-webkit-scrollbar-track {
        background-color: $trackColor;
        border-radius: $width;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $width;
        background: $thumbColor;
    }
}

body {
    font-family: $sansSerifFont;
    font-weight: 400;
    color: #000000;
    font-size: 0.95rem;
    //line-height: 20px;

    // for scrollbar (ctrl+f wont indicated anymore if this is enabled)
    //  overflow: auto;
    //  position: absolute;
    //  top: 4px;
    //  right: 4px;
    //  bottom: 4px;
    //  left: 0;
    //  margin: 0;
    //  @include scrollbar(); 
}

a,
button,
input,
textarea {
    &:focus {
        outline: 0;
    }
}

p {
    font-size: 0.95rem;
}

section {
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    margin-right: 30px;
}

/*******************************************************************
  **************************** Heading styles ************************
  ********************************************************************/

h1,
h2,
h3,
h4 {
    font-family: $sansSerifFont;
}

h1 {
    font-size: 3.25rem;
    text-align: center;
    margin: 50px 25px 25px;
}

h2 {
    font-size: 2.55rem;
    margin-bottom: 12px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-family: $sansSerifFont;
    font-size: 1.03rem;
}

h6 {
    font-size: 100%;
    margin: 6px 0 3px 0;
    font-style: italic;
}

.paramHeading,
.typeDef h3.propsHeading,
h3.subHeading {
    font-size: 1rem;
    font-family: $sansSerifFont;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
}

h4.name {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h5,
.container-overview .subsection-title {
    font-size: 1rem;
    font-family: $sansSerifFont;
    font-weight: bold;
    margin-bottom: 5px;
}

/*******************************************************************
  **************************** Table styles **************************
  ********************************************************************/

table {
    border-collapse: collapse;
    border: solid rgba(29,31,33,0.1) 1px;
    margin-bottom: 1.5rem;
    width: 100%;
}

thead {
    border-color: rgba(29,31,33,0.1);
    background: rgba(29,31,33,0.1);
}

table tr {
    border-bottom: 1px solid rgba(29,31,33,0.1);
}

table tr:nth-child(even) {
    background-color: #f8f8f8;
}

td {
    border: solid #c7cccb 1px;
}

td > p:first-child,
td > ul:first-child {
    margin-top: 0;
}

td > p:last-child,
td > ul:last-child {
    margin-bottom: 0;
}

article table thead tr th,
article table tbody tr td,
article table tbody tr td p {
    font-size: 0.89rem;
    line-height: 20px;
    text-align: left;
}

article table thead tr th,
article table tbody tr td {
    padding: 0.5rem;
}

article table tbody tr td ul li {
    font-size: 0.89rem;
}

/*******************************************************************
  ****************************** Link styles *************************
  ********************************************************************/

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

#main a,
#main a:visited,
#main a:active,
#main a:hover {
    color: #e91e63;
}

/*******************************************************************
  ***************************** List styles **************************
  ********************************************************************/

article ul {
    margin-bottom: 1em;
}

article li {
    font-size: 0.95rem;
    line-height: 20px;
    padding-bottom: 5px;
}

/*******************************************************************
  ********************** Navigation sidebar styles *******************
  ********************************************************************/

$navHeight: 180px;
$navColor: #e91e63;

nav {
    position: fixed;
    top: $navHeight;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    background-color: mix($navColor, #000, 75%);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    line-height: 8px;

    border: solid 4px mix($navColor, #000, 75%);
    border-left: 0;
    @include scrollbar(rgba(#000, 0.2), rgba(#fff, 0.9), 6px);
}

nav #nav-search {
    width: 210px;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-right: 20px;
    margin-top: 20px;
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    height: $navHeight;
    width: 300px;
    background-color: $navColor;
    color: #ffffff;
    text-align: center;
    margin-top: 0px;

    p {
        padding: 12px 0;
    }

    a {
        color: #ffffff;
        font-size: 0.9rem;
        line-height: 1.5;
    }
}

nav h3 {
    font-family: $sansSerifFont;
    font-size: 0.9rem;
    color: #ffffff;
    text-transform: uppercase;
}

nav ul {
    font-size: 0.9rem;
    padding-left: 15px;
    margin: 0;
    list-style: none;
}

nav h3 a {
    color: #ffffff;
}

nav ul a,
nav ul a:visited,
nav ul a:active {
    color: #ffffff;
}

nav ul a:hover {
    font-weight: bold;
}

nav ul ul {
    padding-left: 15px;
    margin: 0;
    list-style: none;
}

nav ul ul li:first-child {
    padding-top: 0;
}

nav li {
    margin-top: 14px;
}

nav a:hover {
    font-weight: bold;
    text-decoration: none;
}

nav h2 {
    margin: 0;
    padding: 0;
}

nav > h2 > a {
    display: block;
    margin: 10px 0 -10px;
    color: #606 !important;
}

/* open */
.nav-trigger:checked + label:not(.steps) .navicon:before,
.nav-trigger:checked + label:not(.steps) .navicon:after {
    top: 0 !important;
}

.nav-trigger:checked + label .navicon:before,
.nav-trigger:checked + label .navicon:after {
    transition: 0.5s;
}

/* Minus */
.nav-trigger:checked + label {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
}

/* × and + */
.nav-trigger:checked + label.plus .navicon,
.nav-trigger:checked + label.x .navicon {
    background: transparent;
}

.nav-trigger:checked + label.plus .navicon:before,
.nav-trigger:checked + label.x .navicon:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #fff;
}

.nav-trigger:checked + label.plus .navicon:after,
.nav-trigger:checked + label.x .navicon:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
}

.nav-trigger:checked + label.plus {
    -webkit-transform: scale(0.75) rotate(45deg);
    transform: scale(0.75) rotate(45deg);
}

.nav-trigger:checked ~ nav {
    left: 0 !important;
}

.nav-trigger:checked ~ .overlay {
    display: block;
}

.nav-trigger {
    position: fixed;
    top: 0;
    clip: rect(0, 0, 0, 0);
}

/********************************************************************
  ***************************** Search styles **************************
  *********************************************************************/

.search-input {
    font-family: $sansSerifFont;
    font-size: 80%;
    border: none;
    border-radius: 100px;
    color: #000;
    width: 80%;
    padding: 10px 20px;
}

/********************************************************************
  ***************************** Code styles ***************************
  *********************************************************************/

tt,
code,
kbd,
samp {
    font-family: $monospaceFont;
    font-size: 1.05em;
}

.name,
.signature {
    font-family: $monospaceFont;
    font-size: 1.05em;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

ul,
ol,
blockquote {
    margin-bottom: 1em;
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}

#main {
    margin-left: 350px;
    margin-right: 50px;
}

header {
    display: block;
    padding: 0px 4px;
}

.apiLinks {
    display: block;
    text-align: center;
    font-size: 90%;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #808080;
    font-style: italic;
    font-weight: lighter;
}

.container-overview {
    margin-top: 25px;
}

.ancestors {
    color: #999;
}

.ancestors a {
    color: #999 !important;
}

#main p.availableIn {
    font-size: 0.8rem;
}

.clear {
    clear: both;
}

.important {
    font-weight: bold;
    color: #950b02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    display: none;
}

.type-returns {
    color: #aaa;
}

.member {
    font-family: $monospaceFont;
    font-size: 16px;
}

.details {
    margin-top: 6px;
    border-left: 2px solid #ddd;
    line-height: 20px;
    font-size: 14px;
}

.details dt {
    width: auto;
    float: left;
    padding-left: 10px;
}

.details dd {
    margin-left: 70px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.details ul {
    margin: 0;
}

.details ul {
    list-style-type: none;
}

.details pre.prettyprint {
    margin: 0;
}

.details .object-value {
    padding-top: 0;
}

.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption {
    font-style: italic;
    margin: 0;
}

.prettyprint {
    border: 1px solid #ddd;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code {
    font-size: 0.95em;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4d4e53;
}

.prettyprint code span.line {
    display: inline-block;
}

.prettyprint.linenums {
    padding-left: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prettyprint.linenums ol {
    padding-left: 0;
}

.prettyprint.linenums li {
    border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
    background-color: lightyellow;
}

.prettyprint.linenums li * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.params code {
    white-space: pre;
}

.params .name,
.props .name,
.name code {
    color: #4d4e53;
    font-family: $monospaceFont;
    font-size: 100%;
}

span.param-type,
.params td .param-type,
.param-type dd {
    color: #606;
    font-family: $monospaceFont;
}

.param-type dt,
.param-type dd {
    display: inline-block;
}

.param-type {
    margin: 14px 0;
}

.disabled {
    color: #454545;
}

/* navicon button */
.navicon-button {
    display: none;
    position: relative;
    padding: 2.0625rem 1.5rem;
    transition: 0.25s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.8;
}
.navicon-button .navicon:before,
.navicon-button .navicon:after {
    transition: 0.25s;
}
.navicon-button:hover {
    transition: 0.5s;
    opacity: 1;
}
.navicon-button:hover .navicon:before,
.navicon-button:hover .navicon:after {
    transition: 0.25s;
}
.navicon-button:hover .navicon:before {
    top: 0.825rem;
}
.navicon-button:hover .navicon:after {
    top: -0.825rem;
}

/* navicon */
.navicon {
    position: relative;
    width: 2.5em;
    height: 0.3125rem;
    background: #000;
    transition: 0.3s;
    border-radius: 2.5rem;
}
.navicon:before,
.navicon:after {
    display: block;
    content: "";
    height: 0.3125rem;
    width: 2.5rem;
    background: #000;
    position: absolute;
    z-index: -1;
    transition: 0.3s 0.25s;
    border-radius: 1rem;
}
.navicon:before {
    top: 0.625rem;
}
.navicon:after {
    top: -0.625rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    z-index: 1;
}

/** Add a '#' to static members */
[data-type="member"] a::before {
    content: "#";
    display: inline-block;
    margin-left: -14px;
    margin-right: 5px;
}

#disqus_thread {
    margin-left: 30px;
}
