<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="tab-icon">desktop_windows</mat-icon>
			Graphics
		</ng-template>
		<div class="settings">
			<div>
				<h2 class="setting-header">
					<mat-icon>settings</mat-icon> Preset
				</h2>
				<mat-button-toggle-group name="preset">
					<mat-button-toggle value="potato">Potato</mat-button-toggle>
					<mat-button-toggle value="low">Low</mat-button-toggle>
					<mat-button-toggle value="medium">Medium</mat-button-toggle>
					<mat-button-toggle value="high">High</mat-button-toggle>
					<mat-button-toggle value="custom">Custom</mat-button-toggle>
				</mat-button-toggle-group>
				<!-- <h2 class="setting-header"><mat-icon>tune</mat-icon> Custom</h2> -->
				<br />
				<br />
				<br />
				<table>
					<tr>
						<td>
							<h3 class="setting-header">
								<mat-icon>public</mat-icon>
								World details
							</h3>
						</td>
						<td>
							<mat-button-toggle-group name="worldDetail">
								<mat-button-toggle value="low">
									Low
								</mat-button-toggle>
								<mat-button-toggle value="medium">
									Medium
								</mat-button-toggle>
								<mat-button-toggle value="full">
									Full
								</mat-button-toggle>
							</mat-button-toggle-group>
						</td>
					</tr>
					<tr>
						<td>
							<h3 class="setting-header">
								<mat-icon>gradient</mat-icon>
								Rendering effects
							</h3>
						</td>
						<td>
							<mat-button-toggle-group name="worldDetail">
								<mat-button-toggle value="low">
									None
								</mat-button-toggle>
								<mat-button-toggle value="medium">
									Local lights, fog, bloom
								</mat-button-toggle>
								<mat-button-toggle value="full">
									Local lights, fog, bloom, shadows
								</mat-button-toggle>
							</mat-button-toggle-group>
						</td>
					</tr>
					<tr>
						<td>
							<h3 class="setting-header">
								<mat-icon>timelapse</mat-icon>
								Refresh rate
							</h3>
						</td>
						<td>
							<mat-button-toggle-group name="worldDetail">
								<mat-button-toggle value="low">
									20 FPS
								</mat-button-toggle>
								<mat-button-toggle value="medium">
									30 FPS
								</mat-button-toggle>
								<mat-button-toggle value="full">
									60 FPS
								</mat-button-toggle>
								<mat-button-toggle value="full">
									Display-based FPS
								</mat-button-toggle>
							</mat-button-toggle-group>
						</td>
					</tr>
					<tr>
						<td>
							<h3 class="setting-header">
								<mat-icon>gradient</mat-icon>
								Anti-aliasing
							</h3>
						</td>
						<td>
							<mat-button-toggle-group name="worldDetail">
								<mat-button-toggle value="low">
									None
								</mat-button-toggle>
								<mat-button-toggle value="medium">
									TAA
								</mat-button-toggle>
								<mat-button-toggle value="full">
									FXAA
								</mat-button-toggle>
							</mat-button-toggle-group>
						</td>
					</tr>
					<tr>
						<td>
							<h3 class="setting-header">
								<mat-icon>aspect_ratio</mat-icon>
								Resolution scale
							</h3>
						</td>
						<td>
							<mat-slider
								thumbLabel
								min="0.01"
								max="4"
								step="0.01"
								value="1"
								style="width: 100%;"
							></mat-slider>
						</td>
					</tr>
					<tr>
						<td>
							<h3 class="setting-header">
								<mat-icon>label</mat-icon>
								Nametags
							</h3>
						</td>
						<td>
							<mat-slide-toggle></mat-slide-toggle>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</mat-tab>
	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="tab-icon">volume_up</mat-icon>
			Audio
		</ng-template>
		<div class="settings">
			<h1>hi</h1>
		</div>
	</mat-tab>

	<mat-tab>
		<ng-template mat-tab-label>
			<mat-icon class="tab-icon">keyboard</mat-icon>
			Controls
		</ng-template>
	</mat-tab>
</mat-tab-group>
