.chat {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	user-select: text;
	font-size: 1.2em;

	*::-webkit-scrollbar {
		width: 0px;
	}

	.messages {
		overflow-x: hidden;
		overflow-y: auto;
		flex-grow: 1;
		height: 100%;

		background-image: linear-gradient(
			0deg,
			rgba(#1d1f21, 0.8),
			rgba(#1d1f21, 0)
		);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		background-size: 100% 0;
	}

	&.focused {
		.messages {
			background-size: 100% 100%;
		}

		*::-webkit-scrollbar {
			width: 16px;
		}
	}

	::ng-deep {
		*::-webkit-scrollbar-track {
			background: transparent;
		}
		*::-webkit-scrollbar-thumb {
			background: transparent;
			box-shadow: inset 0 0 8px 8px rgba(#fff, 0.5);
			border: solid 4px transparent;
			border-radius: 999px;
			height: 50px;
		}
		*::selection {
			background: #2196f3; // blue 500
		}
	}
}
