<mdc-drawer>
	<mdc-drawer-header class="header">
		<span class="title">
			<h2 style="font-weight: 500;">
				<mdc-icon>shopping_cart</mdc-icon> Tivoli Market
			</h2>
			<h3 style="opacity: 0.7;">Currently in development</h3>
		</span>
	</mdc-drawer-header>
	<mdc-drawer-content>
		<mdc-list>
			<a mdc-list-item selected>
				<mdc-icon mdcListItemGraphic>accessibility_new</mdc-icon>
				Avatars
			</a>
			<a mdc-list-item style="margin-left: 32px;">
				Female
			</a>
			<a mdc-list-item style="margin-left: 32px;">
				Male
			</a>
			<a mdc-list-item style="margin-left: 32px;">
				Other
			</a>
			<!-- <a mdc-list-item>
				<mdc-icon mdcListItemGraphic>description</mdc-icon>
				Scripts
			</a>
			<mdc-list-divider></mdc-list-divider>
			<a mdc-list-item href="#/drawer-demo/examples">
				<mdc-icon mdcListItemGraphic>settings</mdc-icon>Manage scripts
			</a> -->
		</mdc-list>
	</mdc-drawer-content>
</mdc-drawer>
