.menu {
	width: 320px;
	height: 320px;
	border-radius: 8px;
	background-color: rgba(#1d1f21, 0.9);
	padding: 8px;
	overflow-y: auto;

	.emoji {
		height: 32px;
		padding: 2px;
		display: inline-block;
		cursor: pointer;

		transform: scale(1);
		&:hover {
			transform: scale(1.15);
		}
	}
}
