<div
	class="menu fast-transition"
	*ngIf="loaded"
	[style.opacity]="open ? '1' : '0'"
	[style.pointerEvents]="open ? 'initial' : 'none'"
>
	<!-- <cdk-virtual-scroll-viewport [itemSize]="100" style="height: 100%;">
		<img
			class="emoji"
			*cdkVirtualFor="let emoji of emojiService.emojis"
			[src]="emojiService.emojiSvgUrl + emoji.code + '.svg'"
			(click)="onEmoji(emoji.shortcode)"
		/>
	</cdk-virtual-scroll-viewport> -->
	<img
		class="emoji"
		*ngFor="let emoji of emojiService.emojis"
		[src]="emojiService.emojiSvgUrl + emoji.code + '.svg'"
		(click)="onEmoji(emoji.shortcode)"
	/>
</div>
