.input-container {
	background-color: rgba(#1d1f21, 0.9);
	border-radius: 0 0 8px 8px;
	overflow-x: hidden;
	overflow-y: auto;
	color: #fff;
}

.input {
	width: 100%;
	padding: 8px 12px;
	color: #fff;
	font-family: "Roboto";

	&:focus {
		outline: none;
	}
}

.button {
	position: absolute;
	top: 0.333em;
	bottom: 0;
	height: 1.333em;

	&.emoji {
		right: 0.333em;
		cursor: pointer;

		opacity: 0.5;
		filter: grayscale(1);
		&:hover {
			opacity: 1;
			filter: grayscale(0);
		}
	}
}

.emoji-menu {
	position: absolute;
	bottom: calc(100% + 8px);
	right: 0;
}

.uploading {
	position: relative;
	width: 100%;
	background-color: #e91e63;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(#fff, 0.7);
	padding: 2px 0;
	font-size: 0.8em;
	font-weight: 500;

	.icon {
		margin-right: 2px;
		transform: scale(0.8);
	}

	.progress {
		position: absolute;
		background-color: rgba(#fff, 0.3);
		top: 0;
		left: 0;
		bottom: 0;
	}
}
