<div
	class="input-container fast-transition"
	style="position: relative"
	[style.opacity]="chatService.focused$.value ? '1' : '0'"
>
	<div
		#input
		class="input"
		contenteditable
		(keydown)="onKeyDown($event)"
		(paste)="onPaste($event)"
	></div>
	<img
		class="button emoji transition"
		[src]="emojiService.codeToImage('1F642')"
		(click)="emojiMenuOpen = !emojiMenuOpen"
	/>
	<app-emoji-menu
		class="emoji-menu"
		[open]="emojiMenuOpen"
		(emojiShortcode)="onEmojiShortcode($event)"
	></app-emoji-menu>
	<div *ngIf="uploading" class="uploading">
		<mat-icon class="icon">
			{{ uploading.failed == null ? "file_upload" : "close" }}
		</mat-icon>
		{{
			uploading.failed == null
				? "Uploading..."
				: "Failed to upload (" + uploading.failed + ")"
		}}
		<div
			class="progress fast-transition"
			[style.width]="uploading.done * 100 + '%'"
		></div>
	</div>
</div>
